/*my portpolio header styling*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #191717;
    color: #f5e6e6;
    font-family: sans-serif;
}

span {
    color: #9a0f9a;
}

.container {
    margin: 20px 30px;
    padding: 10px;
    max-width: 1200px;
    width: 95%;
}

#header {
    width: 100%;
    height: 100vh;
    background-image: url(./IMG/desktop.jpg);
    background-size: cover;
    background-position: center;
}

.head {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.nav ul li {
    display: inline;
    margin: 10px;
    flex-grow: 1;
    flex-basis: 200;

}

.nav ul li a {
    text-decoration: none;
    color: rgba(159, 159, 159, 0.794);
    position: relative;
}

.nav ul li a:hover::after {
    width: 100%;
    transition: 0.5s ease-out;
}


.nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #9a0f9a;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

.pic {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    flex-wrap: wrap;
}

.write {
    margin-top: 100px;
    margin-left: 150px;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 200;
    position: absolute;
    top: 200px;
    left: 260px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 25px;
}


.Ni {
    color: green;
}

.web {
    color: rgb(255, 174, 24);
}

.picture {
    overflow: hidden;
    margin-right: 130px;
    margin-bottom: 200px;
}

.picture img {
 width: 450px;
 height: 390px;
 border-radius: 15px;
}


/*About*/

.row {
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
}

.about-col-1 {
    flex-basis: 300;
}

.about-col-1 img {
    width: 450px;
    height: 500px;
    border-radius: 15px;
}

.about-col-2 {
    flex-basis: 60%;
    margin: -50px 50px;
}
.sub-title {
    font-size: 60px;
    font-weight: 600px;
    color: #fff;
}

.link-title  {
    display: flex;
    margin: 20px 0 40px;
}

.link-title-1 {
    margin-right: 20px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.link-title-1::after {
    content: '';
    width: 0;
    height: 3px;
    background: #9a0f9a;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.link-title-1.active-link:hover:after {
    width: 50%;
}

.content ul li{
    list-style: none;
    margin: 10px 0;
}
.text-1 ul li {
    list-style: none;
    margin: 10px 0;
}

.text-1  ul li span {
    color: #7a1d7a;
    font-size: 18px;
}

.text-2 ul li span {
    color: #7a1d7a;
    font-size: 18px;
}

.text-2 ul li abbr {
    text-decoration: none;
}

.text-2 ul li {
    list-style: none;
    margin: 10px 0;
}

.content ul li span {
    color: #7a1d7a;
    font-size: 18px;
}

.content, .text-1, .text-2 {
    display: none;
}

.active-tab, .text-1-show, .text-2-show {
    display: block;
}

/*image slider*/


.head-slide {
    margin: 10px 200px;
    padding: 10px;
    font-size: 25px;
}

.image {
    margin-top: 100px;
    margin-left: 100px;
}
.slider-wrapper .image-list {
    display: grid;
    gap: 18px;
    font-size: 0;
    margin-bottom: 30px;
    overflow-x: auto;
    scrollbar-width: none;
    grid-template-columns: repeat(6, 1fr);
}

.slider-wrapper .image-list::-webkit-scrollbar{
    display: none;
}

.slider-wrapper .image-list  .image-item {
    width: 325px;
    height: 400px;
    object-fit: cover;

}

.slider-scrollbar {
    height: 24px;
    width: 100%;
    display: flex;
    align-items: center;
}

.slider-scrollbar .scrollbar-track {
    height: 2px;
    width: 100%;
    background: #ccc;
    position: relative;
    border-radius: 4px;
}
.slider-wrapper {
    position: relative;
}

.slider-wrapper .slider-btn {
    position: absolute;
    top: 50%;
    height: 50px;
    width: 50px;
    color: #fff;
    border: none;
    outline: none;
    background: #000;
    font-size: 2.1rem;
    cursor: pointer;
    border-radius: 50%;
    transform: translateY(-50%);
}

.slider-wrapper .slider-btn:hover {
    background: #444;
}

.slider-wrapper .slider-btn#prev {
    left: -20px;
    display: none;
}

.slider-wrapper .slider-btn#next {
    right: -20px;
}

.slider-scrollbar .scrollbar-thumb:active {
    cursor: grabbing;
    height: 8px;
    top: -2px;
}

.slider-scrollbar:hover .scrollbar-track {
    height: 4px;
}

.slider-scrollbar .scrollbar-thumb {
    position: absolute;
    height: 100%;
    width: 50%;
    background: #000;
    border-radius: inherit;
    cursor: grab;
}

.slider-scrollbar .scrollbar-thumb::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px;
}


/*---------contact---------*/

.contact-left {
    flex-basis: 35%;
}
.contact-right {
    flex-basis: 60%;
}

.contact-left p {
    margin-top: 30px;
}

.contact-left p i {
    color: #9a0f9a;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons {
    margin-top: 30px;
}
.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a i:hover {
    transform: translateY(-5px);
    transition: transform 0.5s;
    color: #9a0f9a;
}

.btn {
    padding: 10px;
    color: white;
    background:#9a0f9a;
    width: 100px;
    height: 35px;
    border: none;
    border-radius: 10px;
}
.btn:hover {
    cursor: pointer;
    background-color: #7a1d7a;
    transition: 0.5s;
}

.contact-right form {
    width: 100%;
}

form input, form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

.copyright {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}

.copyright p {
    background:#262626;
}

.copyright p i {
    color: #9a0f9a;
    background: #262626;
}

/*----------------------- media querys css for small screen----------------*/

nav .fas {
    display: none;
}

@media only screen and ( max-width: 414px) {
   
    

    #header {
        background-image: url(./IMG/small\ screen.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-blend-mode: multiply;
        width: 100%;
        
    }

    .write {

        font-size: 20px;
        position: absolute;
        top: 120px;
        left: -150px;
        background-color: rgba(0, 0, 0, 0.1);
        
        
    }


    nav .fas {
        display: block;
        font-size: 25px;
    }

    nav ul {
        background: #9a0f9a;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
    }

    .nav ul li {
        display: block;
        margin: 25px;
        background: #9a0f9a;
    }
    .nav ul li a {
        background: #9a0f9a;
    }

    .nav ul .fas {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
        background: #9a0f9a;
    }

 
    .about-col-1 img {
        width: 220px;
        height: 200px;
        position: absolute;
        top: 800px;
        left: 100px;
    }
    .about-col-2 {
        font-size: 15px;
        margin-left: 100px;
        text-align: center;
        position: relative;
        top: 130px;
        left: -150px;
        
    }
    .about-col-2 h1 {
        font-size: 20px;
        margin-top: 10px;
    }
    .about-col-2 p {
        font-size: 15px;
    } 
    .image {
        position: relative;
        top: 100px;
        width: 230px;
    }
    .sub-title {
        font-size: 20pt;
    }
    .slider-wrapper {
        margin-left: -120px;
    }

    .head-slide {
        font-size: 25px;
        margin-left: -96px;
        font-weight: lighter;
        font-style: italic;
        margin-top: 10px;
    }
    .slider-scrollbar {
        margin-left: -100px;
    }

    .contact-left {
        margin-left: -100px;
    }
    .Contact {
        margin-top: 150px;
    }

    .contact-right {
        margin-right: 20px;
    }

    .contact-right textarea {
        height: 80px;
    }

    .social-icons i {
        font-size: 20px;
    }


    .mail {
        font-size: 10pt;
        margin-left: 10px;
    }
    .mail i {
        font-size: 10px;
        margin-top: 10px;
        margin-left: -30px;
    }

    footer {
        width: 399px;
    }
}



